@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background-color: lightsalmon;
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    
    
}

h1 {
    font-size: 50px;
    margin-bottom: 1vh;
    margin-top: 10vh;
}

#keyboard {
    display: flex;
    background-color: gray;
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    margin-top:-4px;
    padding-top: 2px;
    padding-bottom: 2px;
    
}

.drum-pad {
   width: 31.99%;
   background-color: lightgray;
   margin: 2px;
   display: flex;
}

.p-container {
    align-self: center;
    font-size: 20px;
    margin-left: auto;
    margin-right:auto;

}

.drum-pad:hover{
    background-color: rgba(206, 170, 170, 0.877);
    cursor: pointer;
}

.description-container {
    background-color: white;
    margin-bottom: 0;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding:3px;
    border-style: solid;
    border-color: gray;
    border-width:4px;
    
}

.drumpad-container {
   
    margin-top: 5vh;
   
}
